@model IEnumerable<INV_MS.Models.TransportModel.tblProduct>

@{
    ViewData["Title"] = "Index";
}

<h4 class="mt-3">All Products</h4>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@

           
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><i class="fa fa-pen"></i> Edit</a> |
                <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.Id"><i class="fa fa-trash"></i>  Delete</a>
            
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(document).ready(function () {

        $("#mytable").DataTable({
            "lengthMenu": [[10, 10, 50, -1], [10, 10, 50, "All"]],
            responsive: true
        });
    });
</script>