@model IEnumerable<Inventory_Management_Systems.Models.tblCompany>

@{
    ViewData["Title"] = "Index";
}

<h4 class="text-center">List of Companies </h4>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Create New</a>
</p>
<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyrCode)
            </th>
            <th>
                Broker Name
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyrCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId" class="btn btn-primary btn-xs"><i class="fa fa-pen"></i> Edit</a> |
                <a asp-action="Details" class="btn btn-warning btn-xs"  asp-route-id="@item.CompanyId"><i class="fa fa-question-circle"></i> Details</a> |
                <a asp-action="Delete" class="btn btn-danger btn-xs"  asp-route-id="@item.CompanyId"><i class="fa fa-trash"></i>  Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script >
    $(document).ready(function () {

        $("#mytable").DataTable({
            "lengthMenu": [[10, 10, 50, -1], [10, 10, 50, "All"]],
            responsive: true
        });
    });
</script>