<!DOCTYPE html>
<html lang="en">

<head>
   
    @Html.Partial("_StylePartialView")
</head>
<body class="hold-transition sidebar-mini">
    @Html.Partial("_Navbar")
    @Html.Partial("_MainSidebar")

    <div class="container-fluid">
        <div class="content-wrapper">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    @Html.Partial("_ControlSidebar")
    @Html.Partial("_Footer")
    @Html.Partial("_ScriptPartialView")

    @RenderSection("Scripts", required: false)
</body>
</html>
