@model IEnumerable<INV_MS.Models.tblCompanyDetail>

@{
    ViewData["Title"] = "Index";
}

<h5 class="text-center">List of Company Detail</h5>

<p>
    <a asp-action="Company" class="btn btn-success "><i class="fa fa-plus"></i> New</a>
    <a asp-action="Index" class="btn btn-primary "><i class="fa fa-dollar-sign"></i> &nbsp; Payment List</a>

</p>
<table class="table table-bordered table-avatar" id="tableid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblCompany.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateoforder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateofpayment)
            </th>


            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TblCompany.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateoforder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateofpayment)
                </td>


                <td>
                    <a asp-action="Edit" class="btn btn-primary btn-xs" asp-route-id="@item.Id"><i class="fa fa-pen"></i> Edit</a>
                    <a asp-action="Details" class="btn btn-warning btn-xs" asp-route-id="@item.Id"><i class="fa fa-question-circle"></i>Details</a>
                    <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.Id"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {

        var tab = $("#tableid").DataTable({
            "lengthMenu": [[8, 10, 50, -1], [8, 10, 50, "All"]],
            responsive: true
        });



    });


</script>
