@model INV_MS.Models.TransportModel.tblTransportDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tblTransportDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblProduct.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dispatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dispatchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateofPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateofPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblDriver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblDriver.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblVehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblVehicle.VehicleNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblCompany.CompanyrCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
