@model IEnumerable<Inventory_Management_Systems.Models.tblItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchase_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sale_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchase_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sale_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.catName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.unitName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.itemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.itemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.itemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
