@model INV_MS.Models.ViewModel.ItemVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />


<div class="row col-md-12">
    <div class="col-md-5">
        
        <button class="btn btn-secondary btn-xs" asp-action="Index"><i class="fas fa-arrow-alt-circle-left"> Back to List</i> </button>|
        
        <button class="btn btn-primary btn-xs" id="Refresh"><i class="fas fa-undo"> Refresh</i></button>|
        <button class="btn btn-default btn-xs" id="Reset"><i class="fas fa-undo"> Reset</i></button>

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <br /><br />
          <form>

    

              <div id="categoryModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Add New Category</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>

                          </div>
                          <div class="modal-body">
                              <div class="form-group">
                                  <label class="control-label">Category Name</label>

                                  <input asp-for="@Model.catName" class="form-control col-md-8" id="categoryName" type="text" />
                                  <span  class="text-danger"  id="catValidation"></span>
                                  
                              </div>
                              <div class="form-group">
                                  <label class="control-label">Category Description</label>

                                  <input asp-for="@Model.catDescription" class="form-control col-md-8" id="catDescription" type="text" />
                                  <span  class="text-danger" id="desValidation"></span>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-primary" id="addCategory">Add</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                      </div>

                  </div>
              </div>
              <div id="unitModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title">Add New Unit</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>

                          </div>
                          <div class="modal-body">
                              <div class="form-group">
                                  <label class="control-label">Unit Name</label>

                                  <input asp-for="@Model.unitName" class="form-control col-md-8" id="UnitName" type="text" />
                                  <span  class="text-danger"  id="unitValidation"></span>
                                  
                              </div>
                             
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-primary"  id="addUnit">Add</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="row col-lg-12">
               
                  <div class="col-lg-3">
                      <div class="form-group">
                          <label class="control-label">Category Name</label>&emsp;&emsp;&emsp;&emsp;<i class="fas fa-plus-circle" title="Add New Category" style="color:black" id="addcat" ></i>
                          <select asp-for="@Model.catId" class="form-control cat" asp-items="ViewBag.catId">
                              <option value="0">--Select Category--</option>
                          </select>
                      </div>
                  </div>

                  <div class="col-lg-3">
                      <div class="form-group">
                          <label class="control-label">Product Code</label>
                          <input asp-for="@Model.ItemCode" class="form-control itmcode" />
                          <span id="itemcodeValidation" class="text-danger"></span>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="form-group">
                          <label class="control-label">Product Name</label>
                          <input asp-for="@Model.itemName" class="form-control itemName" />
                          <span asp-validation-for="itemName" class="text-danger"></span>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="form-group">
                          <label class="control-label">Description</label>
                          <input asp-for="@Model.Description" class="form-control Description" />
                          <span asp-validation-for="Description" class="text-danger"></span>
                      </div>
                  </div>
              </div>
              <div class="row col-lg-12 ">
                  <div class="col-lg-3">
                      <div class="form-group">
                          <label class="control-label">Unit Name</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="fas fa-plus-circle addUnit" title="Add New Unit" style="color:black" ></i>
                          <select asp-for="@Model.UnitId" class="form-control unit" asp-items="ViewBag.UnitId">
                              <option value="0">--Select Unit--</option>
                          </select>
                      </div>
                  </div>

                
                  <div class="col-lg-3">
                      <div class="form-group">
                          <label class="control-label">Purchase Price</label>
                          <input asp-for="@Model.purchase_Price" class="form-control purchase_Price" />
                          <span asp-validation-for="purchase_Price" class="text-danger"></span>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="form-group">
                          <label class="control-label">Sale Price</label>
                          <input asp-for="@Model.sale_Price" class="form-control sale_Price" />
                          <span asp-validation-for="sale_Price" class="text-danger"></span>
                      </div>
                  </div>
                  <div class="col-lg-1">
                      <div class="form-group">
                          
                          <button class="btn btn-success btn-sm " id="saveItems" style="margin-top:35px;"><i class="fa fa-save"> Save</i></button>
                      </div>
                  </div>
              </div>

          </form>
</div>
<table class="table table-bordered table-avatar" id="tableid">
    <thead>
        <tr>

            <th>Category</th>
            <th>Item Code</th>
            <th>Item Name</th>
            <th>Unit</th>
            <th> Description</th>
            <th>Purchase Price</th>
            <th> Sale Price</th>
            @*<th> Bulk Action</th>*@
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ItemList)
        {
        <tr>
            <td>@item.category.catName</td>
            <td>@item.ItemCode</td>
            <td>@item.itemName</td>
            <td>@item.Unit.unitName</td>
            <td>@item.Description</td>
            <td>@item.purchase_Price</td>
            <td>@item.sale_Price</td>
            @*<td><input type="checkbox" id="check" value="@item.itemId" /></td>*@
            
            <td>

                <a asp-action="Edit" asp-route-id="@item.itemId" class="btn btn-primary btn-xs"><i class="fa fa-pen"></i> Edit</a>
                <a class="btn btn-warning btn-xs" onclick="detailItem(@item.itemId)"><i class="fa fa-question-circle"></i> Details</a>
                <a class="btn btn-danger btn-xs" onclick="deleteItem(@item.itemId)"><i class="fa fa-trash"></i> Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        
        var tab = $("#tableid").DataTable({
            "lengthMenu": [[8, 10, 50, -1], [8, 10, 50, "All"]],
            responsive: true
        });
      
        

    });
    $(".cat").select2();
    $(".unit").select2();
    function detailItem(id) {
        $.ajax({
            type: "POST",
            url: "/item/Details",
            data: { id: id },
            success: function (response) {

                let str = JSON.stringify(response);
                let JsonParser = JSON.parse(str);
                console.log(JsonParser.itemCode, JsonParser.itemName , JsonParser.category.catName)
                //alert("Item Code="+JsonParser.itemCode+"\nItem Name="+JsonParser.itemName+"\nCategory Name=" JsonParser.category.catName);
               
            },
            error: function (ItemCode) {
                alert(ItemCode);
            }

        });

    }
</script>