@model INV_MS.Models.tblCompanyDetail

@{
    ViewData["Title"] = "Details";
}

<h5 class="text-center">Detail of Company Details</h5>

<div class="content text-center">
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemainingAmount)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateoforder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateoforder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateofpayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateofpayment)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateofremainpayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateofremainpayment)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblCompany.CompanyrCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
