@model IEnumerable<INV_MS.Models.tblCompanyDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingAmount)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.dateoforder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateofpayment)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.dateofremainpayment)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TblCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingAmount)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.dateoforder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateofpayment)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.dateofremainpayment)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TblCompany.CompanyrCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
